body {
  background: linear-gradient(135deg, #2c3e50, #4ca1af); 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("images/midnight.png");
  background-size: cover;
  background-position: right;
}

.layout {
  width: 900px;
  height: 550px;
  border-radius: 20px;
  border: 3px solid #333;
  overflow: hidden;

  position: relative;
}

#shark{
    left:100px; top:417px;
    position:absolute;
    animation: shark 10s ease infinite;
}
@keyframes shark {
  0%   { left: 100px; transform: scaleX(1); }
  50%  { left: 650px; transform: scaleX(1); }
  51%  { transform: scaleX(-1); }
  100% { left: 100px; transform: scaleX(-1); }
}
 
#goldfish{
    left:110px ; top: 220px;
    position:absolute;
    animation: goldfish 10s linear infinite;
 }
 @keyframes goldfish {
    0%{left:110px; top:220px; transform: scaleX(1);}
    25%{left:200px; top:280px; transform: scaleX(1);}
    26%{transform: scaleX(-1)}
    50%{left:200px; top:220px; transform: scaleX(-1);}
    75%{left:110px; top:280px; transform: scaleX(-1);}
    76%{transform: scaleX(1)}
    100%{left:110px; top:220px; transform: scaleX(1);}
 }

 #turtle{
    left:650px; top: 250px;
    position: absolute;
    animation: turtle 28s ease infinite;
 }
 @keyframes turtle{
    0%{left:650px; top: 250px;transform: scaleX(-1);}
    48%{left:500px; top: 200px;transform: scaleX(-1);}
    52%{left:500px; top: 200px;transform: scaleX(1);}
    96%{left:650px; top: 250px;transform: scaleX(1);}
 }

 #diver1{
    left:500px; top:30px;
    position:absolute;
    animation: diver1 5s linear infinite;
 }
 @keyframes diver1 {
    0%{left:500px;top:30px;transform: scaleX(1);}
    50%{left:500px;top:90px;transform: scaleX(1);}
    51%{transform: scaleX(-1);}
    100%{left:500px;top:30px;transform: scaleX(-1);}
 }
  #diver2{
    left:600px; top:30px;
    position:absolute;
    animation: diver2 5s linear 2s infinite;
 }
  @keyframes diver2 {
    0%{left:600px;top:30px;transform: scaleX(1);}
    50%{left:600px;top:90px;transform: scaleX(1);}
    51%{transform: scaleX(-1);}
    100%{left:600px;top:30px;transform: scaleX(-1);}
 }
  #diver3{
    left:700px; top:30px;
    position:absolute;
    animation: diver3 5s linear 4s infinite;
 }
  @keyframes diver3 {
    0%{left:700px;top:30px;transform: scaleX(1);}
    50%{left:700px;top:90px;transform: scaleX(1);}
    51%{transform: scaleX(-1);}
    100%{left:700px;top:30px;transform: scaleX(-1);}
 }

#bong1, #bong2, #bong3 {
    position: absolute; 
    width: 35px; 
    height: 30px; 
    background-image: url('images/bong.png'); 
    background-size: cover; 
    opacity: 0;
    z-index: 10;
}
#bong1 {
    left: 20%; 
    top: 90%; 
    animation: bubble-up 8s infinite ; 
}
#bong2 {
    left: 40%; 
    top: 85%;
    animation: bubble-up 9s 2s infinite;
}
#bong3 {
    left: 60%;
    top: 92%;
    animation: bubble-up 7s 4s infinite ease-out;
}
@keyframes bubble-up {
    0% {
        opacity: 0; 
    }
    10% {
        opacity: 1; 
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-800px);
    }
}
 nav{
    color: white;
    height: 50;
    display:flex;
    align-items: center;
}
.nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 280px;
    padding-top: 80px;
    text-align: center;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.08);
    box-shadow: -5px 0 15px black;
    transition: 0.5s ease;
}
.nav-links a {
    padding:15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    margin: 10px 20px;
    transition: all 0.3s ease;
    display: block;
}
.nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transform: scale(1.05);
}
.nav-links.active{
    right:0;
} 

 .home{
    display:flex;
    flex-direction: column;
    gap: 6px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}
.home span{
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.4s;
}
.home.active span:nth-child(1){
    transform: rotate(45deg) translate(6px, 6px);
}
.home.active span:nth-child(2){
    opacity:0;
}
.home.active span:nth-child(3){
    transform: rotate(-45deg) translate(6px, -6px);
}



